/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
 @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300);
 @import url(https://fonts.googleapis.com/css?family=Pacifico);

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family:"Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
    background: #15A198;
    color:#fff;
}

.header {
    font-size:20px;
    font-weight:600;
    letter-spacing: 4px;
    line-height:30px;
    padding-bottom:7px;
}

.cursive {
    border-bottom:0px;
    letter-spacing: 1px;
    font-size:10px;
    font-weight:300;
    background:#15A198;
    padding:0px 10px;
    line-height:10px;
    

}

/* Portrait layout (default) */
.app {
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:25%;                /* text area height */
    height:100px;
    width:100%;                   /* text area width */
    text-align:center;
    padding:50% 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-50% 0px 0px -50%;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}



h1 {
    margin:0px;
    overflow:visible;
    padding:0px;
    color: #2c2d32;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    color: #914E9B;
    font-size: 13px;
    font-weight: 400;
    display:block;
}

button.light {
    background:transparent!important;
    color:#fff!important;
}

button, a.btn{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap;
    padding: 12px 20px!important;
    font-size: 13px;
    line-height: 1.42857143;
    border-radius: 2px;
    margin: 30px 10px 0px 10px!important;
    text-decoration:none;
    color: #15A198!important;
    filter: alpha(opacity=0);
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    border:1px solid #fff!important;
    background:#fff!important;
}

h3{
    font-size:15px;
    text-transform:none;
}

a.link{
    border:0px!important;
}

a.dk{
    background: #15A198!important;
    border:1px solid #15A198!important;
    color:#fff!important;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}


 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

